.content-bar-title-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.content-bar-title-left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.content-bar-title-left .title-container {
  width: 43%;
  margin: var(--border-radius);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.content-bar-title-left .title-container .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-bar-title-left .content-container {
  width: 57%;
  gap: 10px;
  margin: 25px 35px;
}

.content-bar-title-left > div {
  max-width: 60%;
}

.content-bar-title-left h2 {
  position: relative;
  text-align: center;
  padding: 0 20px;
  z-index: 50;
}

.content-bar-title-left p {
  justify-content: left;
}

@media (max-width: 550px) {
  .content-bar-title-left {
    flex-direction: column;
  }

  .content-bar-title-left > div {
    max-width: initial;
  }

  .content-bar-title-left .title-container {
    width: auto;
    height: 250px;
  }

  .content-bar-title-left .content-container {
    width: auto;
    margin: 10px 10px;
  }

  .content-bar-title-left p {
    padding: 0;
  }
}