.gallery-instructions {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid var(--color-base);
  border-radius: 5px;
  text-align: center;
}

.gallery-wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(6, minmax(60px, 0.45fr));
  gap: 10px;
  grid-auto-flow: dense;
}

.gallery-wrapper .gallery-image {
  cursor: pointer;
}

.gallery-wrapper > div.small {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.gallery-wrapper > div.medium {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.gallery-wrapper > div.large {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.gallery-wrapper .modal-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "image def";
  
}