.expected-litter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expected-litter-card .card-container {
  display: flex;
  flex-direction: column;
}

.expected-litter-card .parent-images {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.expected-litter-card .parent-images > div {
  max-width: 200px;
  max-height: 200px;
}

.expected-litter-card .card-container figcaption {
  margin-top: 20px;
}

.expected-litter-card .card-container figcaption ul {
  list-style: none;
}