.puppies-litter-card {
  --gap: 15px;
}

.puppies-litter-card {
  padding: var(--gap);
  margin: var(--gap) 0;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--gap);
  gap: var(--gap);
}

.puppies-litter-card .puppy-cards {
  gap: var(--gap);
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.puppies-litter-card .price-disclaimer {
  color: var(--color-base);
}

@media (max-width: 700px) {
  .puppies-litter-card .puppy-cards {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}