/* 
  Images styles
*/

/* image position */


/* image sizes */
picture.small, img.small {
  width: 100%;
}

@media (min-width: 700px) {
  img.small {
    width: 450px;
  }
  img.position-top-right {
    float: right;
    padding: 6px 0px 6px 11px;
  }
  img.position-top-left {
    float: left;
  padding: 6px 11px 6px 0;
  }
}