.home-page {
  
}

.home-page .parallax {

}

.home-page .parallax .parallax-content-container {
  height: 70vw;
  max-height: 85vh;
  position: relative;
}

.home-page .parallax .parallax-content-container .parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page .parallax .parallax-content .center {
}

.home-page .content {
  margin: 0 5vw 50px;
  line-height: 1.8rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .content > * {
  max-width: 1100px;
  margin-top: 50px;
}

.home-page .testimonial-block h1 {
  text-align: center;
  padding-top: 30px;
}

.home-page .badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 15px;
}

.home-page .badges .badge {
  width: 250px;
}

@media (max-width: 550px) {
  .home-page .badges {
    flex-wrap: wrap;
  }
  .home-page .badges .badge {
    width: 90%;
  }
}