.puppies-litter-card {
  border: var(--border-size) solid var(--color-base);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.puppies-litter-card .puppy-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.puppies-litter-card .puppy-card .image-wrapper {
  max-width: 250px;
  min-width: 250px;
  cursor: pointer;
}

.puppies-litter-card .puppy-card .image-wrapper img {
  border-radius: var(--border-radius);
}

.puppies-litter-card .puppy-card figcaption p {
  padding: 4px;
}

.puppies-litter-card .puppy-card figcaption p.available {
  color: green;
}

.puppies-litter-card .puppy-card figcaption p.reserved {
  color: red;
}

@media (max-width: 550px) {
  .puppies-litter-card .puppy-card .image-wrapper {
    max-width: 100vw;
    border-radius: var(--border-radius);
  }

  .puppies-litter-card .puppy-card {
    flex-wrap: wrap;
  }
}