:root {
  --color-canvas: #F2F2F2;
  --color-canvas-opaque: #F2F2F200;
  --color-sub-menu-item-bg: #8B3333;
  --color-borders: #2A1D14;
  --color-header-bg: #9F9C95;
  --color-menu-bg: #8B3333;
  --color-text-dark: #2A1D14;
  --color-text-light: #F2F2F2;
}